{
  "type": "service_account",
  "project_id": "VOTRE_PROJECT_ID",
  "private_key_id": "VOTRE_PRIVATE_KEY_ID",
  "private_key": "-----BEGIN PRIVATE KEY-----\nVOTRE_CLE_PRIVEE_ICI\n-----END PRIVATE KEY-----\n",
  "client_email": "VOTRE_SERVICE_ACCOUNT@VOTRE_PROJECT.iam.gserviceaccount.com",
  "client_id": "VOTRE_CLIENT_ID",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/VOTRE_SERVICE_ACCOUNT%40VOTRE_PROJECT.iam.gserviceaccount.com"
}
